<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books List</title>
  <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    td, th {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .button-link {
        display: inline-block;
        background-color: #007BFF;
        color: white;
        padding: 12px 20px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .button-link:hover {
        background-color: #45a049;
    }
  </style>
</head>
<body>

<h1>Books List</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Pages</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <td th:text="${book.name}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.pages}"></td>
    <td><a class="button-link" th:href="@{'/edit-form/' + ${book.id}}">Edit</a></td>
    <td><a class="button-link" th:href="@{'/delete/' + ${book.id}}">Delete</a></td>
  </tr>
  </tbody>
</table>

<p><a class="button-link" href="/create-form">Add a Book</a></p>

</body>
</html>